APP_NAME=APP_NAME
APP_ENV=APP_ENV
APP_KEY=APP_API_KEY
APP_DEBUG=T/F
APP_URL=URL

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=DB_TYPE
DB_HOST=DB_HOST
DB_PORT=DATABASE_PORT
DB_DATABASE=DATABASE_NAME
DB_USERNAME=USER
DB_PASSWORD=PASSWORd

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# MAIL_MAILER="mailtrap"
# # MAIL_SCHEME=null
# MAIL_HOST="send.api.mailtrap.io"
# # MAIL_PORT=2525
# # MAIL_USERNAME=null
# # MAIL_PASSWORD=null
# MAIL_MAILER=mailtrap
# MAILTRAP_API_KEY=3a9e207ffe472b64d8189a8735eb1d21
# MAIL_FROM_ADDRESS=hello@ElHanteKante.com
# MAIL_FROM_NAME="${APP_NAME}"


MAIL_MAILER=smtp
MAIL_HOST=host

MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Application X - Welcome"

VITE_APP_NAME="${APP_NAME}"
